* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
         html{
             height: 100vh ;
             width:100vm;
             
         }
            body{
                background: black ;
                background-position: center;
                background-size: cover;
                height:  100vh ;
                width : auto;
                font-family: Sans-Serif;
                margin: 0;
                padding: 0;
                text-align: center ;
                position : relative;
                justify-content: center ;
                align-items: center ;
                
            }
            #all{
              direction: ltr !important;
              list-style: none !important;
              margin: 0!important;
                     width : 100%;
                     height :100% ;
              font-family: 'Marhey', sans-serif; !important 
            }
            #start{
                display:block  ;
                background: skyblue ;
                justify-content: center;
                align-items: center;
                height: 100% !important;
                width:100vm;
                text-align: center;
            }
            .wrapper{
                display: none; 
                position: center;
                justify-content: center;
                align-items: center;
                height: auto;
                width:100%;
                padding: 0;
                margin: 0;
                text-align: center;
            }
            .quiz{
                display: block;
                width:100%;
                height:100%;
                border-radius:50px;
                margin-bottom: 0px;
                text-align: center!important ;
                justify-content:center !important;             
                
            }

            #quiz_header{
                display: flex ;
                width: 100%;
                justify-content: space-between;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
                background-color: #ddd;
                box-shadow: 30px #224DB5;
                z-index: 1;
                direction: rtl;
                height : 100%;
                border-radius: 50px 0;
            }
            .quiz_user{
                display: flex;
                text-align: center;
                height: 100%;
                padding-left: 20px;
            }
            .quiz_body{
                     width : 95%;
                     height : 100%;
                padding: 20px 30px;
                background-color: #175FE378;
                display: inline-block ;
                border-radius:0 0 50px 50px;
                border: 10px double greenyellow;
                     text-align : center !important ;
                justify-content : !important ;
                     align-items :center ;
            }
           #questions{
             
                text-align: center  !important;
                justify-content: center!important ;}
                

            dl.option_group{
                margin-top: 10px;
padding: 0;
                width: 100% !important ;
                display: inline-flex;
                text-align : center ;
                justify-content : center ;
                list-style-type:  none !important;
            }
            li.option{
                height: 100px;
                width: 100px;
                margin: 4px;
                color:#000 ;
                background-color: #fff;
                padding: 10px 20px;
                border-radius: 50%;
                border: 2px solid;
                display: inline-block;
                text-align: center;
                animation: zoomInUp 1.4s; 
                font-size: 50px;
                list-style-type : none !important;
            }
           .quiz #h22,#fin h2,#h22{
               background: none !important;
               border : none!important;
               border-radius : none !important;
               margin: 10px 0;
               margin-top: 20px !important ;
           }
           #h22 img,.h22 img{
               margin-top: 15px ; 
           }
           #all ul,#all li{
               list-style: none !important;
           }
            .option:hover ,.option:active{

                border: 2px solid #341f97;
                background-color: #341f97;
                color: #fff;
                border: #fff 3px solid ;
                animation: bounce 1s infinite;
            }
            .op1,.op2{
                height: 100px;
                width: 100px;
                margin: 10px !important;
                background-color: red;
                border-radius: 50%;
                border: 2px solid;
                transition: 2s all;
                display: flex ;
                text-align: center;
                justify-content: center ;
                align-items: center ;
                font-weight :900px ;
                padding: 0px 0 0px 0;
            }
            .A,.B{
                font-size : 50px !important;
                color: #000 ;
                margin-bottom: 30px;
            }
            .op2{
                background-color: greenyellow;
            }
            #btn-next,.btn-next{
                border: double 3px rgb(49,119,165,1);
                
                background-color: #341f97;
                color: #fff;
                height: 150px;
                width:150px;
                text-shadow: 1px 1px  3px  #000 ;
                border-radius: 50%;
                transition: 0.4s all;
                text-align: center;
                text-underline-position: none;
                box-shadow: 2px 5px 4px 4px #000;
            }
            #btn-next h3,.btn-next h3{
                background: none !important;
                border : none!important;
                
            }
            .btn-next{
              font-size : 25px ;
              padding: 0;
              animation: bounce4 3s infinite;
            }
            #btn-next:hover{
                background: linear-gradient(#ff0000,#FF8F0B,#00ff00,#00ffff,#0000ff,#0BD4FF,#3E0BFF);
                color:#000;
       
                text-align: center ;
                border: double 9px #FFFD96;
                font-size : 30px;
                font-weight: 900px ;
                animation: bounceOutUp   1.2s ;
            }
            #timer{
                background: red;
                text-align: center;
                padding-top: 20px;
                font-size: 30px;
                font-weight: 600px;
                color: #fff;
                                padding-bottom: 0;
                                margin-bottom: 0;
                width: 100px;
                border-radius: 5px;
                                border-left :10px solid  blue;
            }
            #questions img{
                     width : 95%;
                display : flex ;
                border:dotted 5px #FAFF00;
                animation: zoomIn;
                transition: ease;
                animation-duration: 1.1s;
                border-radius: 20px;
                box-shadow: 0px 10px 4px 10px #F0F70C !important;
                margin-left : 5%;
            }
           #all .name{
                background: #1726CE;
                color: #fff;
                height: 5vh;
                justify-content : center ;
                align-items : center ;
                display: inline-flex ;
                border-radius: 25px;
                font-size: 25px;
                font-weight: 500px;
            }
            #fin{
                opacity: 1;
                width:95%;
                display: none; 
                text-align: center;
                background: linear-gradient(#000,#1F2008,#1d1cf3ed);
                border: 5px double #A935FF;
                border-radius: 50px;
                justify-content: center ;
                align-items: center ;
                align-self: center ;
                margin: 0;
                padding: 0;
            }
            #allq{
                display: block;
                text-align: center ;
                justify-content: center;
                justify-items:center;
            }
            #poi{
                background: #cfc1fdee;

                width: 80%;
                font-size: 25px;
                color: #360ab2e4;
                border-left: 5px #2b14eb solid;
                border-right: 5px #2b14eb solid;
                border-radius: 30px;
                display: block ;
                direction: rtl ;
                align-content: center;
                text-align: center;
                margin: 10px 0 5% 10%;
                padding: 0;
                justify-content: center;
            }
            #qq{
                background: #FF1753C4;
                color:#FDFF2B;
                padding: 0px 8px;
                border: 5px solid #000;
                border-radius: 40%;
            }
           #h22,.h22{
                margin-top: 15px;
                
                color: greenyellow;
                font-size: 30px;
                background: none;
                text-align: center; 
                display: block !important;
            }
            #locor4,#lzcor{
                background: red;
                color: #000;
                display: flex;
                border: 3px solid #000;
                border-radius: 20px;
                width: 80px;
                padding: 0 0 0px 0;
                font-size : 10px ;
                height: 10px ;
              transform: translateY(-200px)
               
            }
            #lzcor{
                background: #2eff00c7;
            }
            #locor,#lzcorr{
              display : flex  ;
              background: #ff0bbc ;
              text-align: center ;
              position : absolute ;
              height: 20px ;
              color: #000 ;
              width: 95px ;
              border: solid 2px #000;
              justify-content: center ;
              text-align: center ;
              border-radius : 20px ;
              margin-top: 60px;
              transform: scale(1.2);
            }
            #lzcorr{
                background: #2eff00c7;
            }
          #mqu{
               
                font-size: 20px ;
                margin: 0;
                justify-content: center ;
                align-items: center ;
                border: 0;
                padding: 0;
                color: #fff ;
                display : flex ;
                width : 100% ;
                transform: translate(0,-350px);
                z-index: 9;
                animation : hh 10s infinite ;
            }
            #mqut{
            width : 100%;
                color: greenyellow;
                font-size: 25px;
transform: translateY(-60%);
                animation: flash .7s infinite ;
            }
            #top{
              width: 100% ;
              color: #000;
           display: flex ; 
           animation: bounce4 1s infinite ;
            }
           #all input{
                background: #c3c0c0cc ;
                width:90%;
                padding: 5px ;
                height: 50px ;

                border: double 5px #fff ;
                animation : bounce4 1.5s infinite ;
                border-radius: 20px ;
                color: #fff ;
                font-size: 25px;

            }

            #tel{
               transform : translate(355px,-100px);
                background: red ;
            }
           #all a{
                display: inline-flex;
            }
            #fc{
                transform : translate(-255px,-100px);
                margin: 0;
                padding: 0;
            }
         #all table{

              padding: 0;

              text-align: center ;
              display :flex ;
              justify-content: center ;
              justify-items: center ;
              direction:rtl ;
              width : 100%;
              margin: 0;
              animation: zoomInUp 3s  ;
              height : 40%;


            }
           #all td{
              background : #362556de;
              padding: 10px 20px;
              color: #fff ;

              border : 0px solid #341f97 ;
              border-radius : 0px ;
              font-size : 25px;
            }
          #all td:hover {
              background : #4b16f1;
              color: #fff ;
              animation : bounce4 3s ;
            }

           #all #start li{
                background: #c9c9c9c5;
                color: #25253b;
                margin: 5px ;
                display: inline-block ;
                font-size : 25px ;
                border-top: red 5px solid ;
                border-bottom : #000 3px solid ;
                border-radius : 20px ;
                padding: 5px ;
                list-style: none ;
                justify-content: center ;
                text-align: center ;
                animation: tf 3s infinite ;
                align-items: center ;
                box-shadow: 3px 4px 4px #000000 ;
            }
           #all  #start li:hover{
                 background : #ebf4b4ca;
                 color: #332626bb;
                 transform : scale(1.2);
                 transition: .5s;
                 border-bottom: 5px solid #9972edf1 ;
             }
            #all #start li:nth-child(3),#all #start li:nth-child(1){
               animation : zoomIn 3s ease-in-out ;
             }
             #all #start li:nth-child(2){
               animation: zoomIn 3s  ;
             }
           #all  #start li:nth-child(4){ 
                 animation : bounce4  2s infinite ;
             }
           #all  #start ul{
               list-style: none;
               padding: 0;
               margin: 0;
               border:0;
               height: 200px;
             }
              #upp{
                justify-content: center ;
                text-align: center ;
                display: flex ;
                
              }
             #all .llo td{
                background: #496becd5 ;
              }
            #all  .ulk{
                background: none ;
                text-align: center ;
                display: flex ;
                justify-content: center ;
                justify-items: center ;
              }
              #pp,#pn,#ps,#pns,#pc,#pnn,#cc,#uc,#ptm,#endp,#etel{
                background: #898cfc7b ;
                color: #3d0707 ;
                border-radius : 20px ;
                padding: 5px 10px;
                display : inline-flex ;
                margin : 10px 0px 0px 0px;
              }
              #pp{
                padding: 5px 10px;
              }
              #uc{
                background: red ;
              }
              #cc{
                background: #94f400;
              }
              #pn,#pns,#ptm,#ps{
                background: #302227b2;
                color: #ffffffb2;
              }
              #pp{
                background: #4458f9e5;
                color: #302f14cd;
              }
              #pnn{
                background: #8ae390d2;
                color: #1e251ed2;
              }
              #bn{
                background: none ;
                border-top: #ff4747 solid 3px ;
                border-radius : 20px ;
              }
              #endp{
                font-size:20px;
                color: #394cffe1;
                background: #d2d6fde1;
                animation: bounce4 2s infinite ;
           
              }
             #all .option_grou{
                  text-align: center ;
                  display: flex ;
                  margin-top: 5px ;
                  justify-content : center ;
              }
           #all #tjpg{
                height: auto ;
                width : auto ;
                background: none ;
                border : none;
                box-shadow: none;
                color: none;
                animation: bounce42 3s infinite;

}
#all #tjpg:hover{
    transform:  scale(2) rotate(720deg);
    transition : 2s all ;
}

@keyframes hh{
    0%{
        transform : translate(0,0);
    }
    10%{
        transform: translate(-200px ,-600px) ;
    }
    20%{
        transform : translate(-100px,-400px) ;
    }
    30%{
        transform: translate(100px,-100px);
    }
    40%{
        transform : translate( 0, 0) ;
    }
    50%{
        transform:translate(200px,50px) ;
    }
        60%{
        transform: translate(0px ,-300px ) ;
    }
    70%{
        transform : rotate(-360deg) ;
        color: #341f96 ;
    }
    80%{
        transform : translate(00px,-200px) ;
    }
    
    90%{
        transform: scale(1) translateX(70px);
    }
    100%{
        transform : translate(-300px,100px) ;
    }
}




@keyframes gj{
    0%{
        transform: scale(4);
    
    }
       
    
    
   10% {
        transform: translate(200px,100px);
    }
  30%{
        transform: rotate(360deg);
    }
    55%{
       transform : translate(-200,-100px);
   }
   80%{
       transform : rotate(-360deg);
   }
   90%{
       transform : translate(-200px, -100px);
   }
   

    100%
}
#bodyo #all progress{
  
   width: 80%;
transform : translateY(-8px);
}
#all.h2n{
    display: block ;
}
#all .nexb,#all .nexbr{
  background: #330ddd;
  padding:2px ;
  border-radius : 190px 100px 500px 500px;
  color: #fff ;
  height: 150px ;
  border: double 3px ;
  border-left : red 5px double ;
  border-right : red 5px double ;
  display: flex ;
  text-decoration-line: none;
  font-size: 30px ;
  width: 100px ;
  box-shadow: 5px 4px 5px #000000 ;
}

#all #buts{
  display: flex ;
  justify-content: space-between ;
  height :0;
transform : translateY(-50vh);
  
}
.afte{
  background: linear-gradient(#482bdd98,#b2a4f8);
  height: 100vh;
  width:100%;
  display: none ;
  text-align: center ;
  justify-content: center ;
  align-items: center ;
}
#all .end{
  height: 60%;
  width: 70%;
  background: linear-gradient(#e5c2f8,#5f5858);
  border: 5px solid #2b1515 ;
  border-radius: 5px 50px ;
  display: flex ;
  text-align: center ;
  justify-content: center ;
  align-items: center ;
  box-shadow : 5px 2.5px 20px 2.5px #000 ;
}
.tas,.rest{
  padding: 20px ;
  background: linear-gradient(#a47bee,#3d00aa);
  color:#eafeb1;
  font-size: 25px ;
  height: 25% ;
  width : 95% ;
    border-radius : 0 0 50% 50%;
    text-align: center ;
    justify-content: center ;
    display: flex ;
    align-items: center ;
    border: double 2px #e7e4fe;
    

}

#all .tas{
  border-radius : 50%  50% 0 0;
  
}






@-webkit-keyframes zoomIn {
        0% {
                opacity: 0;
                -webkit-transform: scale3d(.3, .3, .3);
                transform: scale3d(.3, .3, .3)
        }

        50% {
                opacity: 1
        }
}
@-webkit-keyframes flash {

        0%,
        50%,
        to {
                opacity: 1
        }

        25%,
        75% {
                opacity: 0
        }
}
@-webkit-keyframes zoomInUp {
        0% {
                opacity: 0;
                -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
                transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
                -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
                animation-timing-function: cubic-bezier(.55, .055, .675, .19)
        }

        60% {
                opacity: 1;
                -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
                -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
                animation-timing-function: cubic-bezier(.175, .885, .32, 1)
        }
}@-webkit-keyframes bounceOutUp {
        20% {
                -webkit-transform: translate3d(0, -10px, 0);
                transform: translate3d(0, -10px, 0)
        }

        40%,
        45% {
                opacity: 1;
                -webkit-transform: translate3d(0, 20px, 0);
                transform: translate3d(0, 20px, 0)
        }

        to {
                opacity: 0;
                -webkit-transform: translate3d(0, -2000px, 0);
                transform: translate3d(0, -2000px, 0)
        }
}

#all dl#tf dl,#all .nft{
 list-style-type: none !important;
  display:flex !important ;
  justify-content: space-between !important;
  margin: 0;
  background: none ;
  color: black !important;
  font-size : 25px ;
  padding: 0;
  text-align: center!important ;
  align-items: center !important;
  
}
#tf{
    text-align: center !important;
         display : flex  !important ;
         align-items : center  !important ;
         flex-direction: row;
         flex-wrap : wrap ;
         justify-content : center !important  ;
         height : 100%  !important ;
         width : 100% !important ;
}
#tf dl{
    display : flex ;
    justify-content : space-between ;
    width : 100%  !important ;
}

.nft{
    justify-content : space-between ;
    display: flex !important;
         width : 100% !important ;
}
   
#all #tf li a ,#all #start td a,#all .nft li a{
  height: 50px;
  list-style: none !important;
  color: none !important;
  background: none !important;
  width: 50px;
  box-shadow : 0px 4px 6px 0px #4e4343;
  border-radius : 50%;
  animation: bounce42 3s infinite ;
}
#all #tf li a:hover{
  transform : scale(2);
  animation: none;
}
#all #y{
    width: 200px ;
}
@-webkit-keyframes bounce4 {

        0%,
        20%,
        53%,
        80%,
        to {
                -webkit-animation-timing-function: cubic-bezier(.215, .61, .395, 1);
                animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                -webkit-transform: translateZ(2);
                transform: translateZ(2)
        }

        40%,
        43% {
                -webkit-transform: translate3d(0, -30px, 0);
                transform: translate3d(0, -30px, 0)
        }

        40%,
        43%,
        70% {
                -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
                animation-timing-function: cubic-bezier(.755, .05, .855, .06)
        }

        70% {
                -webkit-transform: translate3d(0, -15px, 0);
                transform: translate3d(0, -15px, 0)
        }

        90% {
                -webkit-transform: translate3d(0, -4px, 0);
                transform: translate3d(0, -4px, 0)
        }
}
@-webkit-keyframes bounce42 {
  15%{transform :scale(1.3);}
  25%{ transform: rotate(60deg) scale(1.4);}
  40%{transform :translateY(-10px) scale(1.2) ;}
  70%{transform :translateY(20px) rotate(-360deg);}
  90%{transform : translateY(-10px) rotate(120) scale(1);}
    100%
  
}
#nesus{
  color: #fff ;
  background: #302b2b;
  display:inline ;
  font-size : 25px ;
  border-radius : 50%;
}
.pro{
  display : inline ;
  
}
#qn{
  background: #ffffffdb ;
  color: #000000 ;
  border-top: #000000 5px double;
  border-bottom : #000 5px double;
  border-radius : 40%;
}
#toop{
  
   
    width : 100%;
    padding: 0;
    border : 0;
  display: flex : 
 
  margin-bottom:  110vh;
    
}
#ll{
    height: 0px;
}
@-webkit-keyframes bounce {

        0%,
        20%,
        53%,
        80%,
        to {
                -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                animation-timing-function: cubic-bezier(.215, .61, .355, 1);
                -webkit-transform: translateZ(0);
                transform: translateZ(0)
        }

        40%,
        43% {
                -webkit-transform: translate3d(0, -30px, 0);
                transform: translate3d(0, -30px, 0)
        }

        40%,
        43%,
        70% {
                -webkit-animation-timing-function: cubic-bezier(.755, .05, .855, .06);
                animation-timing-function: cubic-bezier(.755, .05, .855, .06)
        }

        70% {
                -webkit-transform: translate3d(0, -15px, 0);
                transform: translate3d(0, -15px, 0)
        }

        90% {
                -webkit-transform: translate3d(0, -4px, 0);
                transform: translate3d(0, -4px, 0)
        }
}
@keyframes hj{
  0%{
    transform : 0;
  }
  5%{
    transform : translate(-100px ,100px );
  }
  15%{
    transform : translate(50px ,-100px );
  }
  25%{
    transform : translate(-100px ,-200px );
  }
  30%{
    transform :0;
  }
  40%{
    transform:translate(0,-50px);
  }
  44%{
    transform:translate(0px,-300px);
  }
    48%{
    transform:translate(70px,-300px);
    }
    52%{
    transform:translate(-70px,-400px);
    }
    56%{
    transform:translate(100px,-400px);
    }
    60%{
    transform:translate(-100px,-400px);
    }
        62%{
    transform:translate(100px,-450px);
    }
    64%{
    transform:translate(-120px,600px);
    color: #341f96 ;
    }
            70%{
    transform:translate(120px,-350px);
    }
    74%{
    transform:translate(-120px,-150px);
    }
    80%,85%{
      transform: scale(1.1);
    }
    90%{
      transform :translate(100px,-400px) scale(1.2) ;
    }
    100%{
      transform(0,0) scale(1.2);
    }
}
